ðŸ¦œ Uncomment the following code for the [TidyTuesday Bird Bath dataset](https://github.com/rfordatascience/tidytuesday/tree/master/data/2021/2021-08-31).ðŸ¦‰

In [1]:
library('tidyverse')

â”€â”€ Attaching packages â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€ tidyverse 1.3.1 â”€â”€

âœ” ggplot2 3.3.5     âœ” purrr   0.3.4
âœ” tibble  3.1.3     âœ” dplyr   1.0.7
âœ” tidyr   1.1.3     âœ” stringr 1.4.0
âœ” readr   1.4.0     âœ” forcats 0.5.1

â”€â”€ Conflicts â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€ tidyverse_conflicts() â”€â”€
âœ– dplyr::filter() masks stats::filter()
âœ– dplyr::lag()    masks stats::lag()

In [3]:
df_birdbath = read_csv(
    'https://github.com/rfordatascience/tidytuesday/blob/master/data/2021/2021-08-31/bird_baths.csv?raw=true',
    col_types = cols()
)

In [4]:
df_birdbath %>% head

  survey_year urban_rural bioregions               bird_type
1 2014        Urban       South Eastern Queensland Bassian Thrush
2 2014        Urban       South Eastern Queensland Chestnut-breasted Mannikin
3 2014        Urban       South Eastern Queensland Wild Duck
4 2014        Urban       South Eastern Queensland Willie Wagtail
5 2014        Urban       South Eastern Queensland Regent Bowerbird
6 2014        Urban       South Eastern Queensland Rufous Fantail
  bird_count
1 0
2 0
3 0
4 0
5 0
6 0

Each row represents the number of times a type of bird was observed at a bird bath in the survey year.

We want to just work with the most numerous birds for baths that have been categorized as "Urban" or "Rural."

Find the top fifteen bird types by total `bird_count` after filtering out baths where `urban_rural` category is not provided. Capture this vector with a variable called `top15_bird_types`. 

Hint: remember `pull` and `slice_max`

In [13]:
top15_bird_types = 
df_birdbath %>%
    na.omit(urban_rural) %>%
#             group_by(bird_type) %>%
            slice_max(n.distinct(bird_type), n = 15) %>%
                pull(bird_type)

top15_bird_types

[1] "Bassian Thrush"

In [15]:
df_birdtype %>% pull(bird_type) %>% n_distinct()

[1] 169

In [21]:
df_birdbath %>%
    filter(!is.na(urban_rural)) %>%
        group_by(bird_type) %>%
            summarize(total_bird_count  = sum(bird_count) %>%
                        slice_max(total_bird_count, n = 15) %>%
                              pull(bird_type)

ERROR: Error in parse(text = x, srcfile = src): <text>:7:0: unexpected end of input
5:                         slice_max(total_bird_count, n = 15) %>%
6:                               pull(bird_type)
  ^

In [22]:
top15_bird_types = df_birdbath %>%
    filter(!is.na(urban_rural)) %>%
    group_by(bird_type) %>%
    summarize(total_bird_count = sum(bird_count)) %>%
    slice_max(total_bird_count, n = 15) %>%
    pull(bird_type)

1. Create a table of just the top birds using the vector above to filter. Exclude rows with `NA` vlues for `urban_rural`.
1. Group by `bird_type` and `urban_rural` and find the mean `bird_count` for each group.
1. Sort the factor levels for `bird_type` by `mean_bird_count` value at `Rural` baths.
1. Capture the output of these operations under a new variable.

Your final table will have three columns: 1) `bird-type`, 2) `urban_rural` and 3) `mean_bird_count`

In [27]:
#fct_inorder .. arrange

bird_top_15 = 
    df_birdbath %>%
        filter(!is.na(urban_rural)) %>%
            filter(bird_type %in% top15_bird_types)

In [29]:
bird_top_15 %>%
        group_by(bird_type, urban_rural) %>%
            summarize(mean_bird_count = mean(bird_count)) %>%
                fct_order(mean_bird_count)

`summarise()` has grouped output by 'bird_type'. You can override using the `.groups` argument.

   bird_type          urban_rural mean_bird_count
1  Australian Magpie  Rural       0.25850340
2  Australian Magpie  Urban       0.28267477
3  Crested Pigeon     Rural       0.09523810
4  Crested Pigeon     Urban       0.14741641
5  Crimson Rosella    Rural       0.22448980
6  Crimson Rosella    Urban       0.13525836
7  Eastern Spinebill  Rural       0.29591837
8  Eastern Spinebill  Urban       0.10030395
9  Grey Fantail       Rural       0.28231293
10 Grey Fantail       Urban       0.06079027
11 Lewin's Honeyeater Rural       0.28231293
12 Lewin's Honeyeater Urban       0.07598784
13 Magpie-lark        Rural       0.11224490
14 Magpie-lark        Urban       0.19300912
15 Noisy Miner        Rural       0.20068027
16 Noisy Miner        Urban       0.35410334
17 Pied Currawong     Rural       0.10884354
18 Pied Currawong     Urban       0.18996960
19 Rainbow Lorikeet   Rural       0.13605442
20 Rainbow Lorikeet   Urban       0.29635258
21 Red Wattlebird     Rural       0.11904762
22 Red Wattlebird     Urban       0.20668693
23 Red-browed Finch   Rural       0.26190476
24 Red-browed Finch   Urban       0.06079027
25 Satin Bowerbird    Rural       0.14285714
26 Satin Bowerbird    Urban       0.13525836
27 Spotted Dove       Rural       0.03741497
28 Spotted Dove       Urban       0.21276596
29 Superb Fairy-wren  Rural       0.36394558
30 Superb Fairy-wren  Urban       0.09574468

Make a "Urban"/"Rural" [Cleveland dot chart](https://uc-r.github.io/public/images/visual/cleveland-dotplots/unnamed-chunk-10-1.png) following figure with your new table.

If we want to add "segments" to our dot chart, we need to re-shape our data into "wide" format. Specifically we want to have "Urban" and "Rural" as **columns** instead of **values**.

Use `pivot_wider` to make this wide table, capture it, and use `geom_segment` in combination with your wide table to add segments to your Cleveland dot chart from above ðŸ‘†.

(Uncomment the code and make the cell below markdown to see my solution.)

![](https://github.com/chuckpr/BIOS512/blob/main/in-class-exercises/12/12_01_pivot_chart.png?raw=true)